h1 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 3rem;
}

.task, .description {
    display: block;
    width: 500px;
    
    margin-top: 5px;
    margin-bottom: 20px;
}

.priority {
    margin-bottom: 20px;
}

select {
    margin-left: 1rem;
}

.saveTask {
    display: block;
    width: fit-content;
    margin-top: 0.5rem;
}

#toDoList {
    margin-top: 7rem;
}

li {
    margin-top: 3rem;
}